{deps, [
	{lager, ".*", {git, "https://github.com/basho/lager", "HEAD"}},
	{uuid, ".*", {git, "https://github.com/avtobiff/erlang-uuid", "HEAD"}},
    {cowboy, ".*", {git, "https://github.com/extend/cowboy", "HEAD"}}
]}.
%%{sub_dirs, ["rel"]}.
{edoc_opts, [{preprocess, true}]}.
%%{cover_enabled, true}.
{eunit_opts, [verbose]}.
{erl_opts, [{parse_transform, lager_transform}]}.
